.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content button {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
    width: 150px;
}

   

.dropdown:hover .dropdown-content button{
   display: block;
}

.dropdown-content button:hover{
    background-color: orangered;
}

  